@model KulaLearnMVC.Models.Module

@{
    ViewData["Title"] = "Edit";
}

<div class="modal-content">
    <div class="modal-body">
        <div>
            <form asp-action="Edit">
                <div role="alert" class="fade custom-alert alert alert-primary show">
                    <div class="alert-heading h4">
                        <h1><b>Edit module</b></h1>
                    </div>
                </div>

                <div class="mb-3"><label class="form-label">Edit course title.</label>
                    <label asp-for="title" class="control-label"></label>
                    <input asp-for="title" class="form-control" />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>
                <div style="display: none;" class="mb-3"><label class="form-label">Edit course title.</label>
                    <label asp-for="collectionID" class="control-label"></label>
                    <input asp-for="collectionID" readonly class="form-control" />
                    <span asp-validation-for="collectionID" class="text-danger"></span>
                </div>
                <div style="display: none;" class="mb-3"><label class="form-label">Edit course title.</label>
                    <label asp-for="ID" class="control-label"></label>
                    <input asp-for="ID" readonly class="form-control" />
                    <span asp-validation-for="ID" class="text-danger"></span>
                </div>
                <div style="display: none;" class="mb-3"><label class="form-label">Edit course title.</label>
                    <label asp-for="iat" class="control-label"></label>
                    <input asp-for="iat" readonly class="form-control" />
                    <span asp-validation-for="iat" class="text-danger"></span>
                </div>
                <div class="mb-3"><label class="form-label">Language. (default: English)</label>
                    <input id="language" class="form-control" type="text" readonly="" value="en">

                </div>
                <h2>Short Description</h2>
                <p>Use this area to give a short description of the new module. </p>
                <div class="form-floating textarea mb-3">
                    <label asp-for="shortDescription" class="control-label"></label>
                    <input asp-for="shortDescription" class="form-control" />
                    <span asp-validation-for="shortDescription" class="text-danger"></span>
                </div>
                <h4>Long description</h4>
                <p>Use this area to give a long description of the new module. Take note that HTML format is supported.
                </p>
                <div class="form-floating textarea mb-3">
                    <label asp-for="longDescription" class="control-label"></label>
                    <input asp-for="longDescription" class="form-control" />
                    <span asp-validation-for="longDescription" class="text-danger"></span>
                </div>
                <div class="mb-3"><label class="form-label">Enter a video link here.</label>
                    <label asp-for="video" class="control-label"></label>
                    <input asp-for="video" class="form-control" />
                    <span asp-validation-for="video" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
