@model KulaMVC.Models.Module

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit">
    <div>
        <h1>Edit module</h1>
    </div>

    <div class="mb-3"><label class="form-label">Edit course Title.</label>
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div style="display: none;" class="mb-3"><label class="form-label">Edit course Title.</label>
        <label asp-for="CollectionID" class="control-label"></label>
        <input asp-for="CollectionID" readonly class="form-control" />
        <span asp-validation-for="CollectionID" class="text-danger"></span>
    </div>
    <div style="display: none;" class="mb-3"><label class="form-label">Edit course Title.</label>
        <label asp-for="ID" class="control-label"></label>
        <input asp-for="ID" readonly class="form-control" />
        <span asp-validation-for="ID" class="text-danger"></span>
    </div>
    <div style="display: none;" class="mb-3"><label class="form-label">Edit course Title.</label>
        <label asp-for="Iat" class="control-label"></label>
        <input asp-for="Iat" readonly class="form-control" />
        <span asp-validation-for="Iat" class="text-danger"></span>
    </div>
    <div class="mb-3"><label class="form-label">Language. (default: English)</label>
        <input id="language" class="form-control" type="text" readonly="" value="en">

    </div>
    <h2>Short Description</h2>
    <p>Use this area to give a short description of the new module. </p>
    <div class="form-floating textarea mb-3">
        <label asp-for="ShortDescription" class="control-label"></label>
        <input asp-for="ShortDescription" class="form-control" />
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>
    <h4>Long description</h4>
    <p>Use this area to give a long description of the new module. Take note that HTML format is supported.
    </p>
    <div class="form-floating textarea mb-3">
        <label asp-for="LongDescription" class="control-label"></label>
        <input asp-for="LongDescription" class="form-control" />
        <span asp-validation-for="LongDescription" class="text-danger"></span>
    </div>
    <div class="mb-3"><label class="form-label">Enter a Video link here.</label>
        <label asp-for="Video" class="control-label"></label>
        <input asp-for="Video" class="form-control" />
        <span asp-validation-for="Video" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>