@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <Title>@ViewData["Title"] - KulaMVC</Title>
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/1GgrKCJ/goat.png">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>

    <body>
        <header>
            <nav>
                <div>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="https://i.ibb.co/1GgrKCJ/goat.png" alt="logo" />
                </a>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <h1>Kula Learn</h1>
                </a></div>
                <partial name="_LoginPartial" />
            </nav>
        </header>
        <div>
        @RenderBody()
        </div>
        <footer>
        @if (SignInManager.IsSignedIn(User))
        {
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Courses" asp-action="Index">Courses</a>
                <a asp-controller="Identity" asp-action="Account" asp-route-id="Manage">Profile</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Courses" asp-action="Index">Courses</a>
        }
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>