@model KulaMVC.Models.Course

@{
    ViewData["Title"] = "Create";
}

<div>
    <h1>Create a new course</h1>
</div>
<h3>Course Information</h3>
<form asp-action="Create" enctype="multipart/form-data">
    <div class="input-group mb-3"><input type="text" asp-for="Title" id="course-Title" required="" maxlength="50"
            class="form-control" placeholder="Enter course Title"></div>
    <div class="input-group mb-3"><input type="text" asp-for="ShortDescription" id="course-description" required=""
            maxlength="200" class="form-control" placeholder="Enter short description"></div>
    <div class="mb-3"><label for="file" class="form-label">Upload a picture for the course</label><input
            class="form-control form-control-sm" onchange="handleFileUpload(this)" id="file" type="file"></div>
    <div>
        <input type="text" asp-for="ImageUrl" id="ImageUrl" hidden>
    </div>
    <h3>Publish information</h3>
    <p><b>Publish Now: </b>This course will be available immedIately.</p>
    <p><b>Publish Later: </b>This course will not be available immedIately. You will be able to publish it after
        modules
        have been added.</p>
    <div>
        <select asp-for="published" asp-items="Html.GetEnumSelectList<Publish>()" class="form-control">
            <option selected="selected" value="">Please select</option>
        </select>
    </div>
    <h3>Visibility Information</h3>
    <p><b>Public: </b>Everyone who is signed in can access this course.</p>
    <p><b>Private: </b>Only people you add by email will have access to the course.</p>
    <div>
        <select asp-for="visibility" asp-items="Html.GetEnumSelectList<Visible>()" class="form-control">
            <option selected="selected" value="">Please select</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    const handleFileUpload = async (e) => {
        var input = document.getElementById("file");
        var files = input.files;
        const formdata = new FormData();
        formdata.append("image", files[0], files[0].name);
        const requestOptions = {
            method: 'POST',
            body: formdata,
            redirect: 'follow'
        };
        await fetch("https://api.imgbb.com/1/upload?key=8d0a7e3689b931e211b03dbd58eab571", requestOptions)
            .then(response => response.json())
            .then((result) => {
                document.getElementById('ImageUrl').value = result.data.url;
            })
    }
</script>