@model KulaMVC.Models.Course

@{
    ViewData["Title"] = "Delete";
}
<div class="flexbox-container" id="cards-li">
    <div class="shadow p-3 mb-5 rounded offset">
        <h3>@Model.Title</h3>
        <img src="https://i.ibb.co/9stx1C6/goal.png" class="rounded mx-auto d-block" style="max-height: 115px;">
        <div>
            @Model.ShortDescription
        </div>
        <div>
            <span>Last Modified:
                @{
                    System.DateTime dtDateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc);
                    dtDateTime = dtDateTime.AddSeconds(@Model.CreatedAt).ToLocalTime();
                }
                @dtDateTime
            </span>
        </div>
        <div>
            All modules assocIated with this course will also be deleted.
        </div>
    </div>
</div>

<h5>Are you sure you want to delete this course?</h5>
<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
