﻿@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h2>Welcome to Kula Learn</h2>
</div>
<div class="homepage">
    <ul>
        <li>
            Use this platform to learn a new skill. Register a new account or login to gain access to our range
            of online courses we offer here at Kula.
        </li>
        <li>
            Sign up as an instructor to add new courses.
        </li>
        <li>
            Added courses can be made publicly available or you can add the people you want to have access to
            them.
        </li>
    </ul>
    <h2>Why Choose Kula?</h2>
    <div class="why">
        <div>
            <img src="https://i.ibb.co/SQzHc5W/promotion.png" />
            <div>
                <h4>Beginner and advanced</h4>
                <p>Browse our range of beginner and more advanced courses.</p>
            </div>
        </div>
        <div>
            <img src="https://i.ibb.co/kgKbcw1/blockchain.png" />
            <div>
                <h4>Create courses</h4>
                <p>You can add custom courses that can be viewed publicly or only to the people you choose to invite.
                </p>
            </div>
        </div>
        <div>
            <img src="https://i.ibb.co/0YZpW7C/offline.png">
            <div>
                <h4>Offline support</h4>
                <p>We also offer offline support and the courses are offered in different languages. Under development
                </p>
            </div>
        </div>
    </div>
    <hr/>
    <div>
        <h2>Explore one of our courses below.</h2>
    </div>
    <div>
        
            <h4>Featured Courses</h4>
        
        <a asp-controller="Courses" asp-action="Index">Browse Courses</a>
    </div>
</div>