html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

.logo {
    width: 100px;
}

header nav, header nav div, header nav ul, .why {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
}

div > img {
    width: 15vw;
}

h2, .homepage ul, .homepage div div, .homepage > div:last-child {
    text-align: center;
}

.why > div {
    padding: 20px;
    border: solid 2px #198754;
    width: 33vw;
    height: 45vh;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header {
    height: 11vh;
}

body > div {
    min-height: 79vh;
    text-align: center;
    margin: 0;
    padding: 0px;
}

.login {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 12px 14px 20px 10px #f6f6f6;
    margin-left: 25vw;
    margin-top: 10vh;
}

.register {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 12px 14px 20px 10px #f6f6f6;
    margin-left: 10vw;
    margin-top: 10vh;
    height: 50vh;
}

input[class=form-control] {
    width: 40vw !important;
}

.register .form-control {
    width: 70vw !important;
}

.module input, textarea, .course .form-control {
    width: 80vw !important;
    margin-left: 10vw;
}

.courses > div {
    border: solid #45d190 2px;
    width: 70vw;
    margin: 10px;
}

.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modules > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modules {
    text-align: left;
}

.preview > ul {
    text-align: left;
    width: 20vw;
    border-right: solid #198754 2px;
    padding-left: 10px;
    padding-top: 10px;
}

.preview > div {
    padding-left: 1vw;
    text-align: left;
    width: 79vw;
}

.preview {
    display: flex;
    min-height: 80vh;
}

button {
    width: 5vw;
}

a:hover {
    color: #2f2e2e;
}

a {
    text-decoration: none;
    color: #787878;
}

li a:hover, .homepage a:hover, button:hover, .courses a:hover, .create-new-course:hover {
    background-color: #d6cceb;
    border: none;
}

li a, button, .courses a, input[type=submit], .course a, .create-new-course {
    background-color: #d2bdff;
    width: 100px;
    display: flex;
    height: 4vh;
    border-radius: 8px;
    border-color: #d2bdff;
    align-items: center;
    justify-content: center;
    font-size: large;
}


.courses a, .login button, .register button, .course input[type=submit], .course a, .create-new-course {
    width: 50%;
    margin-left: 25%;
    color: black;
}

footer {
    background-color: #eae0ff;
}

header {
    background-color: #d7c3ff;
}

.homepage a {
    background-color: #d2bdff;
    width: 30vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35vw;
    font-size: large;
}

.login a {
    text-decoration: underline;
}

.courses a {
    margin-bottom: 10px;
}

.preview > ul > a::after {
    text-decoration: underline;
}

.preview > ul > a {
    display: block;
}

.course img {
    max-width: 30vw;
}

.modue input[type=submit] {
    margin-left: 0% !important;
}

.preview > div > span {
    position: sticky;
    top: 0vh;
    background-color: white;
    width: 100%;
    display: none;
    color: black;
}

@media screen and (max-width:1476px) {
    .why > div {
        height: 40vh;
    }
}

@media screen and (max-width:1133px) {
    .preview > ul {
        width: 30vw;
    }

    .preview > div {
        width: 70vw;
    }
}

@media screen and (max-width:693px) {
    why > div {
        width: 80%;
        height: 35vh;
    }

    .why {
        flex-direction: column;
    }

    .course img {
        width: 50vw;
    }

    .module textarea {
        min-height: 20vh;
    }

    .preview > ul {
        display: none;
    }

    .preview > div > span {
        display: block;
    }

    .preview > div {
        width: 100%;
    }

    .modules > div {
        flex-direction: column;
    }

    .modules a {
        width: 30vw;
    }

    .login, .register {
        margin-left: 0vw;
        width: 99%;
        box-shadow: none;
    }
}

@media screen and (min-width:694px) {
    .preview > ul {
        display: block !important;
    }

    .preview > div > span {
        display: none;
    }

    .preview > div {
        width: 60vw;
    }
}

@media screen and (max-width:437px) {
    .homepage a {
        width: 80vw;
        margin-left: 10vw;
    }

    .homepage {
        padding: 5px;
    }

    .course img {
        width: 80%;
    }
}
